# Server
PORT=8000
AI_SERVICE_PORT=8000
AI_SERVICE_URL=http://localhost:8000
NODE_ENV=development

# Cấu hình Database (Kết nối qua port 3307 vì Docker đã map 3307:3306 ra localhost)
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB=auction_db

# Cấu hình Cache
REDIS_HOST=localhost
REDIS_PORT=6379

# Cấu hình Kafka Broker (Chạy ở localhost)
KAFKA_BROKER=localhost:9092

# Auth & Security
JWT_SECRET=thanh_senior_ai_secret_key_2026
JWT_EXPIRES_IN=7d