# Server
PORT=
NODE_ENV=

# MySQL
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=

# Redis
REDIS_HOST=
REDIS_PORT=

# Kafka
KAFKA_BROKER=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@brosgem.com
ADMIN_PASSWORD=Admin@123456
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10